.tieu-de{
    
    text-align: center;
    color:bisque;
    padding-left: 20px;
}

.muc-nho{
    color: aliceblue;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
}

.dacdiem, .van-hoa, .am-thuc, .con-nguoi, .ket-lai, .chinh, .san-pham{
    color: aliceblue;
    padding-left: 20px;
}

.class-1, .class-2, .class-3{
    padding: 10px ;
    padding-left: 70px;
}

.san-pham-1{
    color: aliceblue;
    padding-left: 70px;
}

.tham-khao{
    color: aliceblue;
    text-align: center;
}