.tieu-de{
    
    text-align: center;
    color:gold;
    padding-left: 20px;
    font-style: italic;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace ;
}

.muc-nho{
    color: aliceblue;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace ;
}

.muc-tieu, .dacdiem, .san-pham{
    color: aliceblue;
    padding-left: 20px;
    
    font-family:'Courier New', Courier, monospace ;
}

.class-1, .class-2, .class-3{
    padding: 10px ;
    padding-left: 70px;
   
    font-family:'Courier New', Courier, monospace ;
}

.san-pham-1{
    color: aliceblue;
    padding-left: 70px;
    font-family:'Courier New', Courier, monospace ;
}

.tham-khao{
    color: aliceblue;
    text-align: center;
    font-family:'Courier New', Courier, monospace ;
}


.tinh-nang{
    color: aliceblue;
    padding-left: 70px;
    font-family:'Courier New', Courier, monospace ;
}